/*!
  * Elegant Theme for Marp
  * @theme elegant
  * @author Davi Golebiovski
*/

@import url("https://unpkg.com/@highlightjs/cdn-assets@11.4.0/styles/base16/material-darker.min.css");

:root {
    --background: #000;
    --code-background: #263238;

    --title: #fff;
    --text: #d4d4d4;

    --font-family: "CMU Serif", Georgia, serif;
    --code-family: "Input Mono", Consola, "Courier New", monospace;
}

/* Section */
section {
    color: var(--text);
    font-size: 35px;
    font-family: var(--font-family);
    line-height: 1.3;

    padding: 125px 200px;
    background-color: var(--background);
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title);
    margin: 0;
}

a {
    color: var(--title);
    font-weight: 600;
    text-decoration: underline;
}

b,
strong {
    color: var(--title);
}

p {
    margin: 30px 0;
}

/* Code */
code {
    display: block;
    padding: 22px 22px 30px 22px;
    margin: 0 50px;

    font-size: 25px;
    font-family: var(--code-family);

    background-color: var(--code-background);
    border-radius: 5px;

    margin-top: -70px;
}

.hljs-comment {
    color: #787878 !important;
}


/* Block quote */
blockquote {
    color: var(--title);
    margin: 0 100px;
    text-align: center;
}

/* Lists */
ul {
    list-style-type: none;
    padding-left: 0;
}
ul ul {
    padding-left: 40px;
}
ol {
    margin-left: 40px;
}

li {
    margin: 10px 0;
}

/* Latex Equations */
mjx-container {
    color: var(--title);
}

mjx-container[display="true"] {
    font-size: 40px;
    margin: 25px 0;
}

/* Tables */
td,
th {
    text-align: left;
    width: fit-content;
    padding: 10px 20px;
    margin: 0;
}
th {
    color: var(--title);
}
td mjx-container,
th mjx-container {
    color: var(--text);
}

/* Others */
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}